In [25]:
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [26]:
data=pd.read_csv('Warehouse_and_Retail_Sales.csv')

In [27]:
print("head is \n",data.head(5))

head is
    YEAR  MONTH                           SUPPLIER ITEM CODE  \
0  2020      1  REPUBLIC NATIONAL DISTRIBUTING CO    100009
1  2020      1                          PWSWN INC    100024
2  2020      1            RELIABLE CHURCHILL LLLP      1001
3  2020      1          LANTERNA DISTRIBUTORS INC    100145
4  2020      1               DIONYSOS IMPORTS INC    100293

                      ITEM DESCRIPTION ITEM TYPE  RETAIL SALES  \
0                  BOOTLEG RED - 750ML      WINE          0.00
1            MOMENT DE PLAISIR - 750ML      WINE          0.00
2  S SMITH ORGANIC PEAR CIDER - 18.7OZ      BEER          0.00
3        SCHLINK HAUS KABINETT - 750ML      WINE          0.00
4       SANTORINI GAVALA WHITE - 750ML      WINE          0.82

   RETAIL TRANSFERS  WAREHOUSE SALES
0               0.0              2.0
1               1.0              4.0
2               0.0              1.0
3               0.0              1.0
4               0.0              0.0

In [28]:
data.describe()

,YEAR,MONTH,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
count,307645.000000,307645.000000,307642.000000,307645.000000,307645.000000
mean,2018.438525,6.423862,7.024071,6.936465,25.294597
std,1.083061,3.461812,30.986238,30.237195,249.916798
min,2017.000000,1.000000,-6.490000,-38.490000,-7800.000000
25%,2017.000000,3.000000,0.000000,0.000000,0.000000
50%,2019.000000,7.000000,0.320000,0.000000,1.000000
75%,2019.000000,9.000000,3.267500,3.000000,5.000000
max,2020.000000,12.000000,2739.000000,1990.830000,18317.000000

In [29]:
data.isnull()

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
307640,False,False,False,False,False,False,False,False,False
307641,False,False,False,False,False,False,False,False,False
307642,False,False,False,False,False,False,False,False,False
307643,False,False,False,False,False,False,False,False,False
307644,False,False,True,False,False,False,False,False,False

In [30]:
data.isnull().sum()

YEAR                  0
MONTH                 0
SUPPLIER            167
ITEM CODE             0
ITEM DESCRIPTION      0
ITEM TYPE             1
RETAIL SALES          3
RETAIL TRANSFERS      0
WAREHOUSE SALES       0
dtype: int64

In [31]:
data.shape

(307645, 9)

In [32]:
data.columns

Index(['YEAR', 'MONTH', 'SUPPLIER', 'ITEM CODE', 'ITEM DESCRIPTION',
       'ITEM TYPE', 'RETAIL SALES', 'RETAIL TRANSFERS', 'WAREHOUSE SALES'],
      dtype='object')

In [ ]:
df=data.dropna()

In [34]:
df.isnull().sum()

YEAR                0
MONTH               0
SUPPLIER            0
ITEM CODE           0
ITEM DESCRIPTION    0
ITEM TYPE           0
RETAIL SALES        0
RETAIL TRANSFERS    0
WAREHOUSE SALES     0
dtype: int64

In [35]:
df.shape

(307477, 9)

In [36]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\abc\appdata\local\programs\python\python38\lib\site-packages (9.0.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -andas (c:\users\abc\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\abc\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\users\abc\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\abc\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -andas (c:\users\abc\appdata\local\programs\python\python38\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\abc\appdata\local\programs\python\python38\lib\site-packages)

In [37]:
import mysql.connector

In [38]:
connection = mysql.connector.connect(
    host='localhost',
    user='root',             
    password='Anubhav@2704',
    database='wipro'
)

In [39]:
cursor = connection.cursor()

In [40]:
df.columns

Index(['YEAR', 'MONTH', 'SUPPLIER', 'ITEM CODE', 'ITEM DESCRIPTION',
       'ITEM TYPE', 'RETAIL SALES', 'RETAIL TRANSFERS', 'WAREHOUSE SALES'],
      dtype='object')

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 307477 entries, 0 to 307643
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   YEAR              307477 non-null  int64
 1   MONTH             307477 non-null  int64
 2   SUPPLIER          307477 non-null  object
 3   ITEM CODE         307477 non-null  object
 4   ITEM DESCRIPTION  307477 non-null  object
 5   ITEM TYPE         307477 non-null  object
 6   RETAIL SALES      307477 non-null  float64
 7   RETAIL TRANSFERS  307477 non-null  float64
 8   WAREHOUSE SALES   307477 non-null  float64
dtypes: float64(3), int64(2), object(4)
memory usage: 23.5+ MB

In [42]:
df.columns = df.columns.str.strip().str.lower()

In [43]:
df.columns

Index(['year', 'month', 'supplier', 'item code', 'item description',
       'item type', 'retail sales', 'retail transfers', 'warehouse sales'],
      dtype='object')

In [44]:
df.rename(columns={
    'item code': 'item_code',
    'item description': 'item_description',
    'item type': 'item_type',
    'retail sales': 'retail_sales',
    'retail transfers': 'retail_transfers',
    'warehouse sales': 'warehouse_sales'
}, inplace=True)

In [45]:
df.columns

Index(['year', 'month', 'supplier', 'item_code', 'item_description',
       'item_type', 'retail_sales', 'retail_transfers', 'warehouse_sales'],
      dtype='object')

In [46]:
create_table_query = '''
CREATE TABLE IF NOT EXISTS sales (
    order_id INT AUTO_INCREMENT PRIMARY KEY,
    year INT,
    month INT,
    supplier VARCHAR(100),
    item_code VARCHAR(100),
    item_description VARCHAR(255),
    item_type VARCHAR(100),
    retail_sales FLOAT,
    retail_transfers FLOAT,
    warehouse_sales FLOAT
)
'''
cursor.execute(create_table_query)

In [47]:
insert_query = '''
INSERT INTO sales (
    year, month, supplier, item_code,
    item_description, item_type,
    retail_sales, retail_transfers, warehouse_sales
) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
'''

for _, row in df.iterrows():
    values = (
        row['year'],
        row['month'],
        row['supplier'],
        row['item_code'],
        row['item_description'],
        row['item_type'],
        row['retail_sales'],
        row['retail_transfers'],
        row['warehouse_sales']
    )
    cursor.execute(insert_query, values)

connection.commit()